.form-group {
    margin-bottom: 10px;
}

.col-form-label {
    color: var(--secondary);
    padding-top: 0;
}

.form-control {
    color: var(--secondary);
}

.form-control:focus {
    border-color: var(--primary);
    box-shadow: 0 0 3px 3px rgba(179, 37, 114, 0.25);
}
