.gallery-item {
    position: relative;
    display: block;
    border: 1px solid var(--light-gray3);
    border-radius: var(--border-radius);
    overflow: hidden;
    padding-top: 65%;
}

.gallery-item img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: unset;
    transform: translate(-50%, -50%);
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

.gallery-item:hover img {
    transform: translate(-50%, -50%) scale(1.2);
}
