.header-bg {
    background-color: rgba(0, 0, 0, 0.400);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    height: 24vh;
    display: flex;
    align-items: center;
}

.inner--title {
    display: flex;
    justify-content: center;
}


.inner--title h1 {
    position: absolute;
    font-size: 2.2rem;
    color: white;
    animation: slideUp 1s forwards;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
