.main-footer{
    padding: 50px 0px;

}
.sub-footer {
    padding: 13px 0;
    background-color: var(--secondary);
    display: flex;
    justify-content: center
    ;
}
.copy-right{
    color: white;
    font-size: 16px;
}


.copy-rights {
    font-size: 15px;
    color: white;
    text-align: center;
}

.main-footer ul li{
    margin-bottom: 10px;
}
.main-footer ul li a{
    font-size: 17px;
    color: #000;
    font-weight: 600;
}
.main-footer .phone-number{
    color: var(--secondary);
    font-weight: 500;
}
.list-social-icons{
    display: flex;
    align-items: baseline;
}
.list-social-icons  > *:not(:first-child) {
    margin-right: 10px;
  }


  .list-social-icons li span{

    font-size: 13px;
    padding: 10px;
    color: white;
    background-color: var(--gold-color);
    border-radius: var(--border-radius);

  }
  .border-top{

    border-top: solid var(--secondary) 3px;
  }
