.section {
    position: relative;
}

.section-content {
    margin-top: 30px;
}

.section-info{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 40px;

}
.section-info.center
{
    align-items: center;
    text-align: center;
    margin: 0;
}

.section--title {
    font-size: 21px;
    font-weight: 700;
    color: #ea9d22;
    margin: 14px 0;
    text-transform: capitalize;
}

.section--subtitle {
    font-size: 32px;
    color: #000000;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
    padding-bottom: 3px;
}

.section--desc {
    font-size: 18px;
    color: rgb(111, 128, 138);
    margin: 15px 0 0px;
    line-height: 1.8;
    max-width: 885px;
}

.bg-section-gray{

    background-color: #dbdbdb3d;
    padding: 50px 0;
}
.section-list{

    font-size: 20px;
    font-weight: 600;
    color: white;
}
.section-list li{
    margin-bottom: 12px;
}
.section-list-title{

    font-size: 30px;
    color: white;
    font-weight: 800;
    margin: 8px 26px -7px 0;
}
