.section {
    position: relative;
}

.section-content {
    margin-top: 30px;
}

.section-info {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 40px;

}

.section-info.center {
    align-items: center;
    text-align: center;
    margin: 0;
}

.section--title {
    font-size: 21px;
    font-weight: 700;
    color: var(--gold-color);
    text-transform: capitalize;
}

.section--subtitle {
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
}

.section--desc {
    font-size: 18px;
    color: rgb(111, 128, 138);
    margin: 15px 0 0px;
    line-height: 1.8;
}
.des-width{
    max-width: 52%;

}
.bg-section-gray {

    background-color: #dbdbdb3d;
}

.section-list {

    font-size: 20px;
    font-weight: 600;
    color: white;
}

.section-list li {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.section-list img {
    max-width: 38px;
    background-color: var(--primary);
    padding: 7px;
    border-radius: 50%;
    margin-left: 10px;
}

.section-list-title {
    font-size: 30px;
    color: #fff;
    font-weight: 800;
    margin: 13px 28px 9px 0;
}
.call {
    position: fixed;
    left: 10px;
    bottom: 60px;
    border: solid var(--primary) 2px;
    border-radius: var(--border-radius);
    background-color: white;
    z-index: 9;
}

.call .call-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 24px;
}

.call-text {
    color: black;
    font-size: 16px;
    font-weight: 900;
}

.call span {
    display: inline-block;
    font-size: 23px;
    border-radius: 50%;
    color: var(--primary);
    margin-left: 20px;
}
