.client-item {
    overflow: hidden;
    padding: 12px;
    min-height: 288px;
    width: 100%;
}

.client--name {
    font-size: 20px;
    line-height: 30px;
}

.client-city {

    font-size: 18px;
    font-weight: 500;
    color: var(--secondary);
    margin-top: 10px;
}
.client{
    margin-top: 20px;
}
.client-item img {
    background-color: white;
    padding: 20px;
    max-height: 208px;
    object-fit: contain;
}
