.client-item {
    background-color: #fff;
    overflow: hidden;
    padding: 20px 40px;
    min-height: 288px;
    margin: 14px 35px;

}
.Hospital--name{
    font-size: 20px;
    line-height: 30px;
    margin: 10px 0px;}
.Hospital-city{

    font-size: 18px;
    font-weight: 500;
    color: var(--secondary);
    margin-top: 10px;
}
