.partner-img {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


.partner-img img{
    height: 100%;
    width: 100%;
    padding: 10px;
    border: solid 4px var(--primary-border-color);
    border-radius: var(--border-radius);
}
.partner-title{
    font-size: 23px;
    margin-top: 10px;
}
