
.bg-services {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 40vh;
    padding: 20px;
}


.services-list {
    list-style-type: none;
    padding: 0;
}

.services-list li {
    margin-bottom: 20px;
    font-size: 20px
}


.image1 {
    position: absolute;
left: 5%;
top: -20px;
height: 500px;
filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.309));
}
