
.bg-services {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.services-list {
    list-style-type: none;
    padding: 0;
}
.services-list img{
    height: 48px;
    border-radius: 50%;
    background-color:white;
    margin: 1px 0px 10px 10px;
    padding: 8px;
}

.services-list li {
    font-size: 20px;
    display: flex;
    align-items: center;
}


.image1 {
    position: absolute;
left: 5%;
top: -20px;
height: 440px;
filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.309));
}
